<div class="flex-1"></div>
<footer class="flex h-[100px] items-center bg-white px-4">
  <div class="ml-[116px] hidden items-center gap-4 text-sm font-medium leading-[20px] text-[#2F2C26] sm:flex">
    <img src="assets/icons/shield_with_checkmark.svg" class="h-auto w-6" alt="" />
    <span class="max-w-[240px]">Inyova guarantees highest investment standards. Learn more.</span>
  </div>
  <div class="flex-1"></div>
  <button
    class="min-w[233px] flex h-[50px] items-center bg-[#EE3C15] px-6 py-3 text-base font-bold text-white transition-opacity duration-300 hover:bg-opacity-70"
    (click)="navigateToOnboarding()">
    Open Account
  </button>
</footer>
